<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<div class="CLR">
    <div>
        <form action="/profile">
            <button class="b2" type="submit" name="update" value="changeName">change name</button><br>
            <button class="b2" type="submit" name="update" value="changeEmail">change email</button><br>
            <button class="b2" type="submit" name="update" value="changePassword">change password</button><br>
            <button class="b2" type="submit" name="update" value="deleteAccount">delete account</button><br>
        </form>
    </div>
    <div class="LR2">
        <h2 class="h3">{{ user }} profile</h2>
        <p class="p1">
            ID: {{ id }}<br>
            name: {{ user }}<br>
            email: {{ email }}<br>
        </p>
        {% if changeName %}
            <p style="font-size: 40px">Change name:</p>
            <p class="error">{{ error }}<p>
            <form action="/profile=changeName" method="post">
                <input class="i" type="text" name="name" value="{{ name }}" placeholder="new name" required><br>
                <input class="i" type="password" name="password" placeholder="password" required><br>
                <input class="b" type="submit" value="changeName">
            </form>
        {% endif %}
        {% if changeEmail %}
            <p style="font-size: 40px">Change email:</p>
            <p class="error">{{ error }}<p>
            <form action="/profile=changeEmail" method="post">
                <input class="i" type="email" name="email" value="{{ newEmail }}" placeholder="new email" required><br>
                <input class="i" type="password" name="password" placeholder="password" required><br>
                <input class="b" type="submit" value="changeEmail">
            </form>
        {% endif %}
        {% if changePassword %}
            <p style="font-size: 40px">Change password:</p>
            <p class="error">{{ error }}<p>
            <form action="/profile=changePassword" method="post">
                <input class="i" type="password" name="password" placeholder="current password" required><br>
                <input class="i" type="password" name="newPassword" placeholder="new password" required><br>
                <input class="i" type="password" name="checkNewPassword" placeholder="confirm new password" required><br>
                <input class="b" type="submit" value="change Password">
            </form>
        {% endif %}
        {% if deleteAccount %}
            <p style="font-size: 40px">Delete account:</p>
            <p class="error">{{ error }}<p>
            <form action="/profile=deleteAccount" method="post">
                <input class="i" type="password" name="password" placeholder="password" required><br>
                <input class="b" type="submit" value="delete account">
            </form>
        {% endif %}
        <div class="loginBox">
            <a class="login" href="/">Home</a>
        </div>
    </div>
</div>
</body>
</html>